:root {

/* color pallet */
  --blue: #562EFF;
  --white: #ffffff;
  --gray: #9F9F9F;

  --tomato: #ED6B4F;
  --red: #FF4A60;
  --light-red: #FFE4E8;

  --yellow: #FFC014;

  --bg-color: #F3F1FF;

/* Font family */
  --main-font: 'Poppins', sans-serif;
}

html {
  font-size: 100%;
}

*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  font-family: var(--main-font);
}
main {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}